* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 0;
    min-width: 0;
}

/* Add your global variables and colors here */
:root {
    --navbar-height: 33px;
    --aside-width: 200px;

    --primary-color: #273043;
    --secondary-color: #934aa5;
    --primary-text-color: #ffffff;
    --secondary-text-color: #ffffff;
}

body {
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Lists */
ul, ol, menu {
    display: flex;
}
ul.vertical, ol.vertical, menu.vertical {
    flex-direction: column;
}
ul.vertical > *, 
ol.vertical > *, 
menu.vertical > * {
    width: 100%;
}
li {
    list-style: none;
}

/* Links */
a {
    /* text-decoration: none; */
    color: inherit;
}

/* Inputs */
input:not([type='radio'], [type='checkbox']), 
button {
    padding: .25rem;
    border: 1px solid #999;
}
button {
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
    background-color: transparent;
}